*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins', sans-serif;
  background:#f8f9fb;
  color:#1f2937;
}

.opening{
  min-height:100vh;
  background:
    linear-gradient(rgba(15,23,42,.7), rgba(15,23,42,.7)),
    url("assets/gallery/nikah1.png") center/cover no-repeat;
  color:#fff;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}
.opening h1{
  font-family:'Playfair Display', serif;
  font-size:36px;
  background:linear-gradient(90deg,#f5d48e,#d6b15e,#f5d48e);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
.opening button{
  margin-top:24px;
  padding:14px 36px;
  border:none;
  border-radius:999px;
  background:linear-gradient(90deg,#f5d48e,#d6b15e);
  color:#111;
  font-weight:600;
  cursor:pointer;
  transition:.3s;
}

.opening button:hover{
  transform:scale(1.05);
  box-shadow:0 10px 30px rgba(214,177,94,.4);
}

/* SECTION */
section{
  padding:70px 20px;
  text-align:center;
}

/* HERO */
.hero{
  background:#0b2e59;
  color:#fff;
}

.hero h1{
  font-family:'Playfair Display', serif;
  font-size:40px;
  margin-bottom:10px;
}

#countdown{
  margin-top:15px;
  font-size:16px;
}

/* PROFILE */
.profile{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
  max-width:900px;
  margin:auto;
}

.card{
  background:#fff;
  padding:30px;
  border-radius:20px;
  border:2px solid #ead9a3;
  box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.card h2{
  font-family:'Playfair Display', serif;
  color:#0b2e59;
}

/* GALLERY */
.gallery h2{
  font-family:'Playfair Display', serif;
  margin-bottom:25px;
}

.gallery-wrapper{
  display:flex;
  gap:20px;
  overflow-x:auto;
  scroll-behavior:smooth;
  padding-bottom:10px;
}

.gallery-wrapper::-webkit-scrollbar{
  display:none;
}

.gallery-wrapper img{
  width:220px;
  height:320px;
  object-fit:cover;
  border-radius:18px;
  flex-shrink:0;
  box-shadow:0 10px 25px rgba(0,0,0,.15);
}

/* EVENT */
.event a,
.rsvp a{
  display:inline-block;
  margin-top:15px;
  padding:12px 30px;
  border-radius:40px;
  background:linear-gradient(135deg,#f5d27a,#c9a84f);
  color:#000;
  text-decoration:none;
  font-weight:600;
}

footer{
  background:#020617;
  color:#fff;
  padding:40px 20px;
  text-align:center;

  display:flex;
  justify-content:center;
  align-items:center;
}
footer p{
  font-size:14px;
  letter-spacing:0.5px;
  opacity:0.9;
}

/* RESPONSIVE */
@media(max-width:768px){
  .profile{
    grid-template-columns:1fr;
  }
}

